<section class="crud">

    <!-- momentaneo, tienen que ser dinamicos -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Marcas</li>
        </ol>
    </nav>

    <!--     
    <div class="title">
        <h4>{{title}}</h4>
    </div> 
    -->

    <div class="subtitle text-center text-md-start">
        <h3>{{subtitle}}</h3>
    </div>

    <div class="list">
        <div class="lista_header py-4 d-flex justify-content-end align-items-center">
            <div class="tools">

                    <!-- <li><input type="checkbox" name="" id="" class=""></li> -->

                    <button class="btn btn-create px-3" routerLink="/marcas/crear"><span class="fas fa-plus"></span></button>

                    <!-- <li><button><span class="fas fa-trash"></span></button></li> -->

            </div>
            <div class="search">
                <input #searchBrand (keyup)="searchbrand(searchBrand.value)" type="text" name="search" id="search" class="search" placeholder="Buscar marca"> 
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">name</th>
                        <th scope="col">description</th>
                        <th scope="col">status</th>
                        <th scope="col">actions</th>
                    </tr>
                </thead>
                <tbody>
                    <div style="display: contents" *ngFor="let brand of brands | brandsFilter:search; let i=index">
                        <tr routerLink="/marcas/editar/{{brand.id}}">
                            <th scope="row">{{brand.id}}</th>
                            <td>{{brand.name}}</td>
                            <td>{{brand.description}}</td>
                            <td>{{brand.status}}</td>
                            <td>
                                <!-- <button routerLink="/articulos/editar/{{brand.id}}">Editar</button> -->
                                <span (click)="DeleteBrand(brand.id)"><i class="fas fa-times borrar"></i></span>
                            </td>
                        </tr>
                    </div>                     
                </tbody>
            </table>

        </div>

        <!-- 
        <div class="lista_footer">
            <div class="entradas">
                    <p>
                        Mostrar entradas
                    <select name="" id="" class="">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    
                    </p>  
            </div>
            <div class="paginacion">
                <ul>
                    <li><button class="">Siguiente</button></li>
                    <li><button class="numero">1</button></li>
                    <li><button class="">Regresar</button></li>
                </ul>
            </div>
        </div> 
        -->

    </div>
</section>
