#seguridad__edicion{
    padding: 20px;
    background: #fff;
}
/*  inputsss */
.grupo{
    display: flex;
    flex-flow: column;
}
.grupo input[type="text"]{
    border: none;
    outline: none;
    padding: 0 10px;
    border-bottom:1px solid rgba(100,100,100, 0.4);;
    background: none;
    z-index: 900;
    color: rgba(100,100,100, 0.8);
    padding-bottom: 3px;
 }
 input:focus{
     border-bottom:1px solid rgba(73,163,242, 0.8) !important;
 }
 .grupo label{
     color: rgba(100,100,100, 0.8);
     font-size: 1em;
     position: absolute;
     transform: translateY(0px);
     z-index: 50;
     transition: all 300ms linear;
     padding-left:10px;
 }
 label.label{
     font-size: 0.5em !important;
     transform: translateY(-12px) !important;
 }
 /* fin inputsss */