<section class="crud">

    <!-- momentaneo, tienen que ser dinamicos -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a routerLink="">Inicio</a></li>
          <li class="breadcrumb-item active" aria-current="page">Unidades</li>
        </ol>
    </nav>
    
    <!--     
    <div class="title">
        <h4>{{title}}</h4>
    </div> 
    -->

    <div class="subtitle text-center text-md-start">
        <h3>{{subtitle}}</h3>
    </div>

    <div class="list">
        <div class="list_header py-4 d-flex justify-content-end align-items-center">
            <div class="tools">
                <!-- <li><input type="checkbox" name="" id="" class=""></li> -->

                <button class="btn btn-create px-3" routerLink="/unidades/crear"><span class="fas fa-plus"></span></button>

                <!-- <li><button><span class="fas fa-trash"></span></button></li> -->
            </div>
            <div class="search">
                <input #searchAUnit (keyup)="SearchUnit(searchAUnit.value)" type="text" name="search" id="search" class="search" placeholder="Buscar Unidad"> 
            </div>
        </div>

        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">Nombre</th>
                        <th scope="col">Descripción</th>
                        <th scope="col">status</th>
                        <th scope="col">Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <!-- | articlesFilter:search; -->
                    <div style="display: contents" *ngFor="let unit of units | unitsFilter:search; let i=index">
                        <tr routerLink="/unidades/editar/{{unit.id}}">
                            <td>{{unit.name}}</td>
                            <td>{{unit.description}}</td>
                            <td>{{unit.status}}</td>
                            <td>
                                <!-- <button routerLink="/articulos/editar/{{article.id}}">Editar</button> -->
                                <span (click)="DeleteUnit(unit.id)"><i class="fas fa-times borrar"></i></span>
                            </td>
                        </tr>
                    </div>                     
                </tbody>
            </table>
        </div>

        <!--         
        <div class="list_footer">
            <div class="entries">
                    <p>
                        Mostrar entradas
                    <select name="" id="" class="">
                        <option value="5">5</option>
                        <option value="10">10</option>
                        <option value="15">15</option>
                        <option value="20">20</option>
                    </select>
                    
                    </p>  
            </div>
            <div class="pagination">
                <ul>
                    <li><button class="">Siguiente</button></li>
                    <li><button class="numero">1</button></li>
                    <li><button class="">Regresar</button></li>
                </ul>
            </div>
        </div>
        -->

    </div>

</section>
