<section id="usuarios__agregar">

    <div class="usuarios__titulo">
        <h3>Agregar un nuevo usuario</h3>
    </div>

    <form action="" id="form">
        <div class="inputs">
            <div class="grupo">
                <input type="text" name="" id="" value="" placeholder="" autocomplete="off">
                <label for="">Nombre del Banco</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" value="" placeholder="" autocomplete="off">
                <label for="">Nombre del Banco</label>
            </div>
            <div class="grupo">
                <input type="text" name="" id="" value="" placeholder="" autocomplete="off">
                <label for="">Nombre del Banco</label>
            </div>
        </div>
        <!-- <div class="inputs">
            <div class="grupo">
                <input type="text" name="" id="" value="" placeholder="" autocomplete="off"(blur)="agregarLabel($event)" (focus)="agregarLabel($event)" [(ngModel)]="password">
                <label for="">Nombre del Banco</label>
            </div>
    
            <div class="grupo">
                <input type="text" name="" id="" value="" placeholder="" autocomplete="off"(blur)="agregarLabel($event)" (focus)="agregarLabel($event)" [(ngModel)]="password">
                <label for="">Codigo del Banco</label>
            </div>
    
            <div class="grupo">
                <input type="text" name="" id="" value="" placeholder="" autocomplete="off"(blur)="agregarLabel($event)" (focus)="agregarLabel($event)" [(ngModel)]="password">
                <label for="">Descripcion del Banco</label>
            </div>
        </div> -->

        <div class="grupo">
            <input type="submit" name="" id="" value="Agregar" placeholder="" class="agregar">
        </div>
    </form>

</section>