<section id="compraedit">
    <button [routerLink]="['/activos']">
        <i class="fas fa-angle-left"></i>
    </button>
    <h1 class="titulo">
        Gestionar Activo
    </h1>
    <div class="new">
        <form action="">
            <div class="new1">
                <div class="new3">
                    <label for="">Imagen</label>
                    <input type="text" name="" id="">
                </div>
                <div class="new3">
                    <label for="">Nombre</label>
                    <input type="text" name="" id="">
                </div>
                <div class="new3">
                    <label for="">Descripcion</label>
                    <textarea rows="" cols=""></textarea>
                </div>
                <div class="new3">
                    <label for="">codigo</label>
                    <input type="number" name="" id="">
                </div>
                <div class="new3">
                    <label for="">Status</label>
                    <select>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>   
                    </select>
                </div>
            </div>
            <div class="new2">
                <div class="new3">
                    <label for="">Valor</label>
                    <input type="number" name="" id="">
                </div>
                <div class="new3">
                    <label for="">Ubicacion</label>
                    <input type="text" name="" id="">
                </div>
                <div class="new3">
                    <label for="">Depreciación</label>
                    <input type="number" name="" id="">
                </div>
                <div class="new3">
                    <label for="">Categoria</label>
                    <select>
                        <option value="">1</option>
                        <option value="">2</option>
                        <option value="">3</option>
                        <option value="">4</option>   
                    </select>
                </div>
            </div>
        </form>
    </div>
</section>