<section id="ventas">
    <!-- <div class="titulo">
        <h4>Compras</h4>
    </div> -->

    <div class="usuarios">

        <div class="titulo_usuarios">
            <h3>Gestion de Ventas</h3>
        </div>

        <div class="lista">

            <div class="lista_header">
                <div class="herramientas">
                    <ul>
                        <li [routerLink]="['./crear']"><button><span class="fas fa-plus"></span></button></li>
                        <li [routerLink]="['/ventas/location']"><button><span class="fas fa-map-marker-alt"></span></button></li>

                    </ul>
                </div>
                <div class="buscador">
                    <input #searchVenta (keyup)="searchventa(searchVenta.value)" type="text" name="searchArticle" id="searchArticle" class="searchArticle" placeholder="Buscar articulo">
                </div>
            </div>

            <div class="lista_tabla">

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Producto</th>
                            <th>Imagen</th>
                            <th>Descripción</th>
                            <th>Fecha de Compra</th>
                            <th>Cantidad</th>
                            <th>Status</th>
                            <th>Precio</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let venta of ventas | filter:search; let i=index">
                            <td routerLink="/compras/editar/{{venta.id}}">
                                <i class="far fa-eye"></i>
                            </td>
                            <th scope="row">{{venta.id}}</th>
                            <td>{{venta.name}}</td>
                            <td>{{venta.slug}}</td>
                            <td>{{venta.description}}</td>
                            <td>{{venta.status}}</td>
                            <td>{{venta.bar_code}}</td>
                            <td>{{venta.sku}}</td>
                            <td>{{venta.comments}}</td>
                            <td>
                                <span (click)="BorrarVenta(venta.id)">
                                    <i class="fas fa-times borrar"></i>
                                </span>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="lista_footer ">
                <div class="entradas ">
                    <p>
                        Mostrar entradas
                        <select name=" " id=" " class=" ">
                            <option value="5 ">5</option>
                            <option value="10 ">10</option>
                            <option value="15 ">15</option>
                            <option value="20 ">20</option>
                        </select>

                    </p>
                </div>
                <div class="paginacion ">
                    <ul>
                        <li><button class=" ">Siguiente</button></li>
                        <li><button class="numero ">1</button></li>
                        <li><button class=" ">Regresar</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>