<section id="seguridad">
    
    <div class="titulo">
        <h4>Seguridad</h4>
    </div>

    <div class="usuarios">

        <div class="titulo_usuarios">
            <h3>Gestion de usuarios</h3>
        </div>

        <!-- <div class="agg_usuarios">
            <button>Agregar usuario</button>
        </div> -->

        <div class="lista">

            <div class="lista_header">
                <div class="herramientas">
                    <ul>
                        <li><input type="checkbox" name="" id="" class=""></li>
                        <li><button><span class="fas fa-plus"></span></button></li>
                        <li><button><span class="fas fa-trash"></span></button></li>
                    </ul>
                </div>
                <div class="buscador">
                    <input type="text" name="" id="" class="buscar" placeholder="Buscar..."> 
                </div>
            </div>

            <div class="lista_tabla">

                <table>
                    <thead>
                        <tr>
                            <th></th>
                            <th>Estado</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Correo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>activo</td>
                            <td>Christian Morales</td>
                            <td>Master</td>
                            <td>christiandmoraless@gmail.com</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>activo</td>
                            <td>Christian Morales</td>
                            <td>Master</td>
                            <td>christiandmoraless@gmail.com</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>activo</td>
                            <td>Christian Morales</td>
                            <td>Master</td>
                            <td>christiandmoraless@gmail.com</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr>
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>activo</td>
                            <td>Christian Morales</td>
                            <td>Master</td>
                            <td>christiandmoraless@gmail.com</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr>
                       
                    </tbody>
                </table>

            </div>

            <div class="lista_footer">
                <div class="entradas">
                     <p>
                         Mostrar entradas
                        <select name="" id="" class="">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        
                     </p>  
                </div>
                <div class="paginacion">
                    <ul>
                        <li><button class="">Siguiente</button></li>
                        <li><button class="numero">1</button></li>
                        <li><button class="">Regresar</button></li>
                    </ul>
                </div>
            </div>
            

        </div>

        

    </div>

    
    <div class="roles">
        <div class="titulo_roles">
            <h3>Gestion de roles</h3>
        </div>
    </div>

</section>