<section id="seguridad">
    <div class="usuarios">

        <div class="titulo_usuarios">
            <h3>Gestion de usuarios</h3>
        </div>

        <div class="lista">

            <div class="lista_header">
                <div class="herramientas">
                    <ul>
                        <li><button [routerLink]="['./agregar_usuario']" ><span class="fas fa-plus"></span></button></li>
                        <li><button><span class="fas fa-trash"></span></button></li>
                        <li><button>Agregar rol</button></li>
                    </ul>
                </div>

                <div class="buscador grupo">
                    <input type="text" name="buscar" autocomplete="off"(blur)="agregarLabel($event)" (focus)="agregarLabel($event)" [(ngModel)]="password">
            
                    <label for="buscar">Buscar...</label>
                </div>

            </div>

            <div class="lista_tabla">

                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="" id="" class=""></th>
                            <th>Estado</th>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Correo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let post of posts " >
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>{{post.estado}}</td>
                            <td>{{post.nombre}}</td>
                            <td>{{post.rol}}</td>
                            <td>{{post.correo}}</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr>                       
                    </tbody>
                </table>

            </div>

            <div class="lista_footer">
                <div class="entradas">
                     <p>
                         Mostrar entradas
                        <select name="" id="" class="">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        
                     </p>  
                </div>
                <div class="paginacion">
                    <ul>
                        <li><button class="">Siguiente</button></li>
                        <li><button class="numero">1</button></li>
                        <li><button class="">Regresar</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>