<section id="bancos">

    <div class="bancos__titulo">
        <h3>Gestion de bancos</h3>
    </div>

        <div class="lista">

            <div class="lista_header">
                
                <div class="herramientas">
                    <ul>
                        <li><button [routerLink]="['./agregar']"><span class="fas fa-plus"></span></button></li>
                        <li><button><span class="fas fa-trash"></span></button></li>
                    </ul>
                </div>


            </div>

            <div class="lista_tabla">

                <table>
                    <thead>
                        <tr>
                            <th><input type="checkbox" name="" id="" class=""></th>
                            <th>Banco</th>
                            <th>Descripcion</th>
                            <th>Codigo</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>Banco Crédito Agrícola de Cartago</td>
                            <td>Banco</td>
                            <td>AT973200000000518548</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr> 
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>Banco Nacional de Costa Rica</td>
                            <td>Banco</td>
                            <td>AT973200000000518548</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr> 
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>Banco Nacional de Costa Rica</td>
                            <td>Banco</td>
                            <td>AT973200000000518548</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr> 
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>Banco Nacional de Costa Rica</td>
                            <td>Banco</td>
                            <td>AT973200000000518548</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr> 
                        <tr>
                            <td><input type="checkbox" name="" id="" class=""></td>
                            <td>Banco Nacional de Costa Rica</td>
                            <td>Banco</td>
                            <td>AT973200000000518548</td>
                            <td><span><i class="fas fa-times borrar"></i></span></td>
                        </tr>                  
                    </tbody>
                </table>

            </div>

            <div class="lista_footer">
                <div class="entradas">
                     <p>
                         Mostrar entradas
                        <select name="" id="" class="">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        
                     </p>  
                </div>
                <div class="paginacion">
                    <ul>
                        <li><button class="">Siguiente</button></li>
                        <li><button class="numero">1</button></li>
                        <li><button class="">Regresar</button></li>
                    </ul>
                </div>
            </div>
        </div>
</section>